<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Sub</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
</head>
<body>

<nav>
    <div class="navicon">
        <div></div>
    </div>

    <a href="/">Home</a>
    <a href="/tasks/">Tasks</a>
    <a href="/tasks/new">Add Task</a>

</nav>

<main>
    <form th:action="${'/tasks/' + task.id + '/sub/create'}" method="post" th:object="${task}">

        <div class="form-group">
            <label for="name">Name: </label>
            <input id="name" name="name" type="text">
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <input id="description" name="description" type="text">
        </div>

        <input type="submit" value="Add new subtask" class="btn btn-dark">
    </form>
</main>

</body>
</html>