<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit an existing task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="nav.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

</head>
<body>

<nav class="menu">
    <input id ="menu__toggle" type="checkbox" class='menu__toggle'/>
    <label for="menu__toggle" class="menu__toggle-label">
        <svg preserveAspectRatio='xMinYMin' viewBox='0 0 24 24'>
            <path d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' />
        </svg>
        <svg preserveAspectRatio='xMinYMin' viewBox='0 0 24 24'>
            <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
    </label>
    <ol class='menu__content'>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/tasks">Task Overview</a></li>
        <li class="menu-item"><a href="/tasks/new">Add Task</a></li>
        <!--        <li class="menu-item">-->
        <!--            <a href="#0">Kabobs</a>-->
        <!--            <ol class="sub-menu">-->
        <!--                <li class="menu-item"><a href="#0">Shishkabobs</a></li>-->
        <!--                <li class="menu-item"><a href="#0">BBQ kabobs</a></li>-->
        <!--                <li class="menu-item"><a href="#0">Summer kabobs</a></li>-->
        <!--            </ol>-->
        <!--        </li>-->
        <!--        <li class="menu-item"><a href="#0">Contact</a></li>-->
    </ol>
</nav>
<h1 style="
margin-left: auto;
margin-right: auto;
width: 80%;">Edit an existing task</h1>
<br>

<form action="/edit" method="post" style="margin-left: auto; margin-right: auto; width: 80%;">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input th:field="${task.name}" type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input th:field="${task.description}" type="text" class="form-control" id="description" name="description">
        </div>
    </div>
    <div class="form-group row">
        <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
        <div class="col-sm-10">
            <input th:value="*{task.deadline}" type="datetime-local" class="form-control" id="deadline" name="deadline">
        </div>
    </div>
    <div class="form-group row">
        <label hidden for="id" class="col-sm-2 col-form-label">ID</label>
        <div hidden class="col-sm-10">
            <input th:field="${task.id}" hidden type="text" class="form-control" id="id" name="id">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-dark ">Edit Task</button>
        </div>
    </div>


</form>

</body>
</html>