<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" href="/home.css" rel="stylesheet">
</head>
<body>
    <p class="span">
      <span>
        T-Manager
      </span>
        &mdash;Sponsored by Raid Shadow Legends&mdash;
    </p>
    <div style="display:inline-grid;  grid-template-columns: auto auto; grid-column-gap: 50px" >
       <a href="/tasks" style="text-decoration: none;"><button class="button">
            Home
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
            </button>
       </a>

<!--        //TODO implement chat app?-->
<!--        <a href="/chat" style="text-decoration: none"><button class="button">-->
<!--            To Chat app-->
<!--            <div class="button__horizontal"></div>-->
<!--            <div class="button__vertical"></div>-->
<!--        </button>-->
<!--        </a>-->
    </div>
</body>
</html>